* { box-sizing: border-box; }
body{
    background-color: white;
}

@media only screen and (max-width: 480px){
    .mobiledevice {
        width: 100%;
        /* height: .75em; */
        float: left;
        /* line-height: .5em; */
        background-color: red;
        font-size: .75em;
    }
    
    .nomenudisplay {
        display: none;
    }
}

#wrapper {
    background-color: lightgrey;
}

p{
    font-weight: bold;
}

 @media only screen and (min-width: 481px){
    .infoboxrow{
        width:100%;
    }
    .half {
        width: 50%;
        float: left;
        font-size: .8em;
    }
    .full {
        width: 100%;
        float: left;
        font-size: .9em;
    }
}

 @media only screen and (min-width: 481px){
    .infoboxrow{
        width:100%;
    }
    .quarter {
        width: 50%;
        float: left;
        font-size: .8em;
    }
    .full {
        width: 100%;
        float: left;
        font-size: .9em;
    }
}

 @media only screen and (min-width: 1000px){
    .infoboxrow{
        width:100%;
    }
    .quarter {
        width: 25%;
        float: left;
        font-size: 1em;
    }
    .full {
        width: 100%;
        float: left;
        font-size: 1em;
    }
}
.infobox{
    border: 2px solid red;
    background-color: white;
    
} 

.navbar {
    /* background-color: lightgrey; */
}

.navbar ul li{
    background-color: lightgrey;
    display: inline;

}